{% extends "layout.html" %}

{% load static %}  <!-- Add this line to load the static files library -->

{% block title %}
AI / ML Blogs
{% endblock %}

{% block content %}

<h1 class="text-center text-white mt-4">Welcome to AI / ML Blogs</h1>
<a class="btn btn-primary" href="{% url 'tweet_create' %}">Create Tweet</a>
<div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet image">
        {% else %}
        <img src="{% static 'path/to/default/image.png' %}" class="card-img-top" alt="Default image">

        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ tweet.user.username }}</h5>
          <p class="card-text">{{ tweet.text }}</p>
          {% if tweet.user == user %}
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}
